numpy==1.24.3
asttokens==3.0.0
decorator==5.2.1
exceptiongroup==1.3.0
executing==2.2.1
ipython==8.37.0
jedi==0.19.2
matplotlib_inline==0.1.7
orjson==3.11.3
parso==0.8.5
pexpect==4.9.0
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
pygments==2.19.2
setproctitle==1.3.7
stack_data==0.6.3
torchao==0.12.0
traitlets==5.14.3
typing_extensions==4.15.0
tomli>=2.0.0; python_version < "3.11"
wcwidth==0.2.14
xgrammar==0.1.25
causal-conv1d @ https://pypi.sourcefind.cn/customer/dtk2604-rc4/+f/3e9/32ae6224d55da/causal_conv1d-1.5.4+das.opt1.dtk2604.torch2100.2607091657.g5e5a32-cp310-cp310-linux_x86_64.whl#sha256=3e932ae6224d55daa820a2499618d1be1a883ab57af51e8ff28681b1e8b678f4

setuptools
wheel
build
maturin
patchelf
setuptools-scm>=8.0
